<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Training</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I originally studied at Stroud Art College doing a BTEC in Illustration & 3D Design. After this I went to do a BA(hons) in Puppetry at Royal Central School of Speech and Drama. Most recently I have taken a sidestep into Fine Furniture Making. These skills have been really useful for puppet making and technical drawing.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">My Practice</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I'm a performance maker, puppetry specialist and visual artist. I work in collaboration with theatre companies and a network of individual practitioners combining performance, puppetry and education. Often i'm commissioned as a puppet maker in response to briefs, and as a consultant at the stage of design and conception.
I'm passionate about working with people through education to help realise and facilitate creative vision. Alongside this I work unravelling personal narratives, and turning this into visual and theatrical work. I believe creative work can have an incredible transformative effect, on the participant and audience.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Creative Collaboration</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I'm fascinated by working in an interdisciplinary way. Whether investigating scientific theories and how this can be shown through animated images, or taking a piece of poetry and bringing it life with shape and movement. I have collaborated with fashion designers, used puppetry in art therapy and toured puppet shows through libraries.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Future</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Currently working from my studio at Stroud Valleys Artspace, in the South West of England. I would love to create new working relationships, if you have a project you would like to talk about then please get in contact by dropping an email or call for a chat.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
