<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Education</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Stroud Art College, 3D Design. Royal Central School of Speech and Drama- BA(hons) Puppetry. Fine Furniture Making, Gloucester College.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">My Practice</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Isabel Lyster is a performance maker, puppetry specialist and visual artist. She works in collaboration with theatre companies and a network of individual practitioners combining performance, puppetry and education. She is often commissioned as a puppet maker in response to briefs, and at the stage of design and conception.
She is passionate about working with people through education to help realise and facilitate creative vision. Alongside this she works unravelling personal narratives, and turning this into a visual and theatrical work. She believes creative work can have an incredible transformative effect, on the participant and audience.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Creative Collaboration</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">She is fascinated to combine puppetry with interdisciplinary arts, looking at the movement of objects within performance and how this can interplay with the body of the performer. When fabricating, she investigates new technology and the sculptural effect of puppets on stage.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4></h4>
                                    <h4 class="subheading">Future</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Currently working from her studio Stroud Valleys Artspace, in the South West of England. She would love to create new working relationships, collaborating with other specialisms. Always seeking ways of integrating creativity in exciting and interactive ways.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
